services:
  backend:
    build: .
    container_name: portfolio-backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:7
    container_name: portfolio-mongo
    volumes:
      - mongo_data:/data/db
    restart: always

  mongo-express:
    image: mongo-express:latest
    container_name: portfolio-mongo-express
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_BASICAUTH=false
    depends_on:
      - mongo
    restart: always

volumes:
  mongo_data:
