version: "3.8"

services:
  backend:
    build: ./portfolio-backend
    container_name: portfolio-backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - NODE_ENV=production
    restart: always

  mongo:
    image: mongo:7
    container_name: portfolio-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
